@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
    <div class="body">
        <div>
            <p>hello world</p>
            <a href="~/secure">Secure Page</a>
        </div>
    </div>
</body>
</html>
