@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <base href="/">
    <script src="/dist/carpool.js"></script>
</head>
    <body>
        <div class="body">
            <p>Welcome @Html.RenderContext.Context.CurrentUser.UserName </p>
            <div id="CarPoolApp" name="CarPoolApp">
                <div ui-view>
                </div>
            </div>
        </div>
    </body>
</html>
